# Data Science Tools and Ecosystem #

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:
    1. R
    2. Python
    3. MATLAB
    4. SQL
    5. JAVA

Some of the commonly used libraries used by Data Scientists include:

    1. Tensorflow 
    2. scikit
    3. Pytorch  
    4. Numpy
    5. Keras

|Data Science Tools|
|---|
|RStudio|
|Apache Spark|
|Tensorflow|

### Below are a few examples of evaluating arithmetic expressions in Python ###

In [4]:
#This a simple arithmetic expression to mutiply then add integers.#
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by diving by 60#
m = 200
h = m/60
h

3.3333333333333335

**Objective:**
List popular languages for Data Science
- Python
- R
- Julia
- Javascript
- Scala

## Adrija ##